{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block headertitle %}
    <h1>{% trans %}Login{% endtrans %}</h1>
{% endblock %}

{% block body %}
    <div class="custom-container">
        <div class="row">
            <div class="col-lg-10 align-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">{% trans %}label.username{% endtrans %}</label><br>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>

                    </div>
                    <div class="form-group">
                        <label for="password">{% trans %}label.password{% endtrans %}</label><br>
                        <input type="password" id="password" name="_password" class="form-control"/>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

                    <button type="submit" class="btn btn-dark">Login</button>
                    <a href="{{ path('app_register') }}" class="register-link">{% trans %}link.register_new{% endtrans %}</a><br>
                    <br> <a href="{{ path('app_blog_index') }}">{% trans %}link.back_to_overview{% endtrans %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
