<div id="search">
    {{ form_start(searchForm, {'attr': {'id': 'searchForm'}}) }}
    <div class="form-group">
        {{ form_widget(searchForm.search) }}
    </div>
    <div class="form-group">
        <label>{% trans %}label.search_in{% endtrans %}:</label>
        {{ form_widget(searchForm.type) }}
    </div>
    <div class="form-group">
        <label>{% trans %}label.amountfilter{% endtrans %}</label>
        {{ form_widget(searchForm.postsPerPage) }}
    </div>

    <button type="submit" class="btn btn-dark">{% trans %}form.search{% endtrans %}</button>
    {{ form_end(searchForm) }}


    <a href="#" id="prev" data-page="" class="hidden">prev</a>
    <a href="#" id="next" data-page="1">next</a>

</div>
<style>
    .hidden {
        display: none;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function hideButton(firstValue, secondValue, buttonId) {
        if (firstValue < secondValue) {
            $(buttonId).hide();
        }
    }

    function showButton(firstValue, secondValue, buttonId) {
        if (firstValue > secondValue) {
            $(buttonId).show();
        }
    }

    function setPages(prevPage, page)
    {
        if (prevPage < 0) {
            prevPage = 0;
        }

        $('#prev').data('page', prevPage);
        $('#next').data('page', page + 1);
    }

    $.ajaxSetup({
        type: 'POST',
        url: '/search/0',
        processData: false,
        contentType: false,
    });

    $(document).ready(function () {


        var form = new FormData($('#searchForm')[0]);

        $('#searchForm').submit(function (e) {
            e.preventDefault();

            var form = new FormData(this);

            $.ajax({
                data: form,

            }).done(function (data) {
                data.page = 0;

                $('#blogtable').html(data.result);

                hideButton(data.numberOfBlogs, data.numberOfBlogsPerPage, '#next');

                if (data.numberOfBlogs >= data.numberOfBlogsPerPage) {
                    $('#next').show();
                }

                $('#prev').hide();
                $('#next').data('page', data.page + 1);

            }).fail(function (data) {
            });
        });

        // Click on prev button
        $('#prev').click(function (e) {
            e.preventDefault();
            var page = $('#prev').data('page');

            // ajaxRequest
            $.ajax({
                url: '/search/' + page,
                data: form,
            })
                .done(function (data) {


                    // Set blogtable
                    $('#blogtable').html(data.result);

                    // Check or prev button should be hidden or visible
                    showButton(data.numberOfBlogs, 0, '#prev');

                    if (data.page === 0) {
                        $('#prev').hide();
                    }

                    // Make next button visible
                    $('#next').show();

                    // Set prevPage
                    let prevPage = data.page - 1;
                    setPages(prevPage, page);
                });
        });


        $('#next').click(function (e) {
            e.preventDefault();
            var page = $('#next').data('page');

            $.ajax({
                url: '/search/' + page,
                data: form,

            }).done(function (data) {

                $('#blogtable').html(data.result);
                hideButton(data.numberOfBlogs, data.numberOfBlogsPerPage, '#next');
                showButton(data.numberOfBlogs, data.numberOfBlogsPerPage, '#next');
                $('#prev').show();

                let prevPage = data.page - 1;
                setPages(prevPage, page);
            });
        });
    });
</script>