<div id="search">
    {{ form_start(searchForm, {'attr': {'id': 'searchForm'}}) }}
    <div class="form-group">
        {{ form_widget(searchForm.search) }}
    </div>
    <div class="form-group">
        <label>{% trans %}label.search_in{% endtrans %}:</label>
        {{ form_widget(searchForm.type) }}
    </div>
    <div class="form-group">
        <label>{% trans %}label.amountfilter{% endtrans %}</label>
        {{ form_widget(searchForm.amountfilter) }}
    </div>

    <button type="submit" class="btn btn-dark">{% trans %}form.search{% endtrans %}</button>
    {{ form_end(searchForm) }}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (e) {
            e.preventDefault();
            var form = new FormData(this);
            $.ajax({
                type: 'POST',
                url: '/search',
                data: form,
                processData: false,
                contentType: false,
            }).done(function (data) {
                $('#blogtable').html(data.result);

                $('#blogtable').data('number-of-blogs', JSON.parse(data.offset));
            }).fail(function (data) {
            });
        });
    });
</script>