{% extends 'base.html.twig' %}

{% block body %}
    <div class="header"></div>

    <div class="col-lg-8 align-center header-title">
        <h1>{% trans %} header.posts {% endtrans %}</h1>
        <a href="">Engels</a>&nbsp;<a href="#">Nederlands</a>
    </div>

    <div class="custom-container">
        <div class="row">
            <div class="col-lg-10 align-center">

                <div class="row">
                    <div class="col-lg-3">
                        <a href="{{ path('app_blog_createblog') }}" class="btn btn-dark">{% trans %} post.create{% endtrans %}</a>

                    </div>
                    <br>
                </div>

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ post_amount }}

                <table class="table table-striped ">
                    <thead class="thead-dark">
                    <tr>
                       <th>{% trans %} table.title {% endtrans %}</th>
                        <th>{% trans %}table.short_description{% endtrans %}</th>
                        <th>{% trans %}table.author{% endtrans %}</th>
                        <th>{% trans %}table.actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for blog in blogs %}
                        <tr>

                            <td><a href="{{ path('app_blog_viewblog', {id: blog.id}) }}"
                                   style="cursor:pointer">{{ blog.title }}</a></td>
                            <td>{{ blog.shortDescription }}</td>
                            <td>
                                <a href="{{ path('app_user_viewuser', {username: blog.user.username}) }}">
                                    {{ blog.user.username }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_blog_delete', {id: blog.id}) }}"
                                   onclick="return confirm('Are you sure?');">{% trans %} link.delete {% endtrans %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}