{% extends 'base.html.twig' %}

{% block body %}
    <div class="header"></div>
    <div class="col-lg-8 align-center header-title">
        <h1>Posts</h1>
    </div>
    <div class="custom-container">
    <div class="row">
        <div class="col-lg-10 align-center">
            <div class="row">
                <div class="col-lg-3">
                    <a href="{{ path('app_main_createblog') }}" class="btn btn-dark">Create post</a>

                </div>
                <div class="col-lg-4">
                <a href="{{ path('app_main_createauthor') }}" class="btn btn-dark">Create author</a>
                </div>
                <br>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <table class="table table-striped ">
                <thead class="thead-dark">

                <tr>
                    <th>Title</th>
                    <th>Short description</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for blog in blogs %}
                    <tr>

                        <td><a href="{{ path('app_main_editblog', {id: blog.id}) }}" style="cursor:pointer">{{ blog.title }}</a></td>
                        <td>{{ blog.shortDescription }}</td>
                        <td>
                            <a href="{{ path('app_main_editauthor', {id: blog.author.id}) }}">
                                    {{ blog.author.name }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('app_blog_delete', {id: blog.id}) }}" onclick="return confirm('Are you sure?');">Delete</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    </div>




{% endblock %}